#ERLD="/usr/local/bin/erld"
#ERL="/usr/local/bin/erl -pa {{magma_install_dir}}/magma/lib/*/ebin +Ktrue +B -noinput"
#Environment=ERLD_LOG="/var/log/{{magma_daemon_name}}/{{magma_daemon_name}}.log"
#Environment=ERL_CONFIG="{{magma_config_dir}}/sys.config"
#ERL_BOOT="/usr/lib/erlang/lib/magma/releases/1/magma"
#Environment=COOKIE_FILE="/etc/{{magma_daemon_name}}/cookie"
#Environment=NODE={{node_name}}
#NODE_NAME="$NODE@{{ip_address}}"
ERL_COMMAND="/usr/local/bin/erl -pa {{magma_install_dir}}/magma/lib/*/ebin +Ktrue +B -noinput -config {{magma_config_dir}}/sys.config -name {{node_name}}@{{ip_address}} -setcookie {{cookie}} -boot /usr/lib/erlang/lib/magma/releases/1/magma -shutdown_time 5000 +W w"
