[Unit]
Description="Erld daemon for magma app"
After=syslog.target
After=epmd.socket
Wants=epmd.socket

[Service]
Type=oneshot
EnvironmentFile=-/etc/magmad/magmad-env
User=root
Group=root
WorkingDirectory={{ ansible_env.HOME}}
Environment=HOME={{ ansible_env.HOME}}
#Environment=NAME={{magma_daemon_name}}
# ERLD="/usr/local/bin/erld"
# ERL="/usr/local/bin/erl -pa {{magma_install_dir}}/magma/lib/*/ebin +Ktrue +B -noinput"
#Environment=ERLD_LOG="/var/log/{{magma_daemon_name}}/{{magma_daemon_name}}.log"
#Environment=ERL_CONFIG="{{magma_config_dir}}/sys.config"
#ERL_BOOT="/usr/lib/erlang/lib/magma/releases/1/magma"
#Environment=COOKIE_FILE="/etc/{{magma_daemon_name}}/cookie"
#Environment=NODE={{node_name}}
#NODE_NAME="$NODE@{{ip_address}}"
#Environment=TMPNODE="$NODE-tmp"
#Environment=TIMEOUT=60
#Environment=HEARTBEAT=22
#Environment=HEARTBEAT_WARN=8
#Environment=GRACE=10
#Environment=RESTART_COUNT=3
#Environment=RESTART_INTERVAL=1200
#Environment=PIDFILE=/var/run/$NAME.pid
#Environment=LOCKDIR=/var/lock
#Environment=LOCKFILE=$LOCKDIR/$NAME

#ExecStart=/bin/sh -c "echo test > /tmp/test.txt"

3 ExecStart=/usr/local/bin/erl -pa {{magma_install_dir}}/magma/lib/*/ebin +Ktrue +B -noinput -config {{magma_config_dir}}/sys.config -name {{node_name}}@{{ip_address}} -setcookie {{cookie}} -boot /usr/lib/erlang/lib/magma/releases/1/magma -shutdown_time 5000 +W w

ExecStart=/usr/lib/erlang/lib/magma/bin/magma-start.sh
