[Unit]
Description="Erld daemon for magma app"
After=syslog.target
After=epmd.socket
Wants=epmd.socket

[Service]
Type=simple
EnvironmentFile=-/etc/magmad/magmad-env
User=root
Group=root
WorkingDirectory={{ ansible_env.HOME}}
Environment=HOME={{ ansible_env.HOME}}
Restart=always
RestartSec=3

ExecStart=/usr/lib/erlang/lib/magma/bin/magma-start.sh
ExecStop=/usr/lib/erlang/lib/magma/bin/magma-stop.sh
